/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */

 body, html {
     height : 100%;
 }

 body {
     font-weight: 200;
     font-size : 1.5rem;
     color: #444;
     
 }