/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */

 body, html {
     height : 100%;
 }

 body {
    font-family: 'IBM Plex Mono', monospace;
     font-weight: 200;
     font-size : 1.5rem;
     color: #444; 
 }


 p , nav , div {
    font-family: 'IBM Plex Mono', monospace;
 }

 @font-face {
     src:url(/fonts/IBMPlexMono-Light.ttf);
     font-family: 'IBM Plex Mono', monospace;
 }


 /*Left Container*/

 .intro-left-container {
     background-color: rgba(0, 0, 0, 0.157) ;
     position: fixed;
     left: 0;
     width: 33.33333%;
     height: 100%;     
 }


 /*Adding Media Queries for the left-avatar-container */

 @media (max-width: 768px) {
     .intro-left-container {
         height : 30vh;
         margin-bottom: 0;
         position: relative;
         width: 100%;
     }
 }

 .avatar {
     width: 20.5rem;
     height : 17.5 rem;
     border-radius: 30%;
     margin: 1rem;
 }

 .full-height {
     height: 100%;
 }

 /*Right Container*/

.nav-style {
    color : white;
    background-color: rgba(148, 144, 144, 0.157);

}

nav .nav-item1 {
    text-align: end;
}

/*Inspiration*/

.container-fluid-inspiration {
    height: auto;
    max-width: 100%;
}

.inspiration img {
    object-fit: cover;
    width: 300px;
    height: 300px;
   
}



/*Card section*/

.card img {
    width: 100%;
    object-fit: cover;
}

.my-projects button {
    float: right;
}

.my-projects .link {
    float:right;
    text-decoration:none;
    color: #444;

}
